.card {
  display: flex;
  padding: 1rem 2rem;
  margin: 0 0 0 60px;
  /* color: #dcd6f7; */
  /* color: #a2a8d3; */
  flex-direction: column;
  /* background: #fff; */
  /* border-radius: 1rem; */
}

.overlay {
  min-width: 300px;
  height: 300px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay:hover {
  background: rgba(49, 49, 49, 0.8);
}

#atc-button {
  width: 100px;
  height: 50px;
  visibility: hidden;
}

#atw-btn {
  top: 0px;
  order: 1;
  width: 96%;
  margin-top: 5px;
  font-size: 20px;
  cursor: pointer;
  text-align: right;
  visibility: hidden;
  position: absolute;
}

.overlay:hover #atc-button,
.overlay:hover #atw-btn {
  visibility: visible;
}
.mylist .img-div {
  max-width: 300px;
  min-height: 300px;
  /* background-color: #453953; */
  background-image: url("https://th.bing.com/th/id/R.28f25d05e961aa374ce3ef615ddf7cf9?rik=QVtYOr%2fCFAiJ6w&pid=ImgRaw&r=0");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-div img {
  min-width: 250px;
  max-height: 250px;
}

.footer {
  color: white;
  max-width: 300px;
  padding: 5px 0 0 0;
}
#album {
  margin: 0;
}

.album-info {
  display: flex;
}

#price,
#artist {
  width: 50%;
  margin: 0;
}

#price {
  display: flex;
  justify-content: flex-end;
}