/* body.active-modal {
  overflow-y: hidden;
} */

.cart-overlay {
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  position: fixed;
  background: white;
  /* background: rgba(49, 49, 49, 0.8); */
  z-index: 1;
}

#x {
  color: yellow;
}
#x:hover {
  color: pink;
  cursor: pointer;
}
